<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cars4u</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmailValidation</display-name>
    <servlet-name>EmailValidation</servlet-name>
    <servlet-class>sis.com.controller.EmailValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidation</servlet-name>
    <url-pattern>/emailvalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidateOtpCheck</display-name>
    <servlet-name>EmailValidateOtpCheck</servlet-name>
    <servlet-class>sis.com.controller.EmailValidateOtpCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidateOtpCheck</servlet-name>
    <url-pattern>/emailvalidateotpcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupDbController</display-name>
    <servlet-name>SignupDbController</servlet-name>
    <servlet-class>sis.com.controller.SignupDbController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupDbController</servlet-name>
    <url-pattern>/signupdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sis.com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>sis.com.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicleServlet</display-name>
    <servlet-name>AddVehicleServlet</servlet-name>
    <servlet-class>sis.com.controller.AddVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicleServlet</servlet-name>
    <url-pattern>/addvehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVehicleServlet</display-name>
    <servlet-name>ViewVehicleServlet</servlet-name>
    <servlet-class>sis.com.controller.ViewVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVehicleServlet</servlet-name>
    <url-pattern>/viewvehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewVehicleAdminServlet</display-name>
    <servlet-name>ViewVehicleAdminServlet</servlet-name>
    <servlet-class>sis.com.controller.ViewVehicleAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewVehicleAdminServlet</servlet-name>
    <url-pattern>/viewvehicleadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleUpdateServlet</display-name>
    <servlet-name>VehicleUpdateServlet</servlet-name>
    <servlet-class>sis.com.controller.VehicleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleUpdateServlet</servlet-name>
    <url-pattern>/vehicleupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicleController</display-name>
    <servlet-name>DeleteVehicleController</servlet-name>
    <servlet-class>sis.com.controller.DeleteVehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicleController</servlet-name>
    <url-pattern>/deletevehiclecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleBookServlet</display-name>
    <servlet-name>VehicleBookServlet</servlet-name>
    <servlet-class>sis.com.controller.VehicleBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleBookServlet</servlet-name>
    <url-pattern>/vehiclebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestUserController</display-name>
    <servlet-name>ViewRequestUserController</servlet-name>
    <servlet-class>sis.com.controller.ViewRequestUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestUserController</servlet-name>
    <url-pattern>/viewRequestUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestAdminController</display-name>
    <servlet-name>ViewRequestAdminController</servlet-name>
    <servlet-class>sis.com.controller.ViewRequestAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestAdminController</servlet-name>
    <url-pattern>/viewRequestAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestAdminController2</display-name>
    <servlet-name>ViewRequestAdminController2</servlet-name>
    <servlet-class>sis.com.controller.ViewRequestAdminServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestAdminController2</servlet-name>
    <url-pattern>/viewRequestAdmin2</url-pattern>
  </servlet-mapping>
</web-app>